.container {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
}


.badkamer {
  width: 1217px;
  height: 914px;
  overflow: hidden;
  margin: 20px auto;
  padding: 15px;
  display: flex;
}

.img {
  z-index: 0;
}

.keyhole {
  width: 1217px;
  height: 914px;
  overflow: hidden;
  background: url("../../../assets/img/hole.png") no-repeat;
  z-index: 5;
  position: absolute;
  cursor: none;

}
