<div class="container">
  <div class="head">
    <div class="img">
      <img [src]="image0" alt="OK0" (mouseenter)="image0=imagesHoverSource[0]" (mouseout)="image0=imagesSource[0]">
    </div>
    <div class="img">
      <img [src]="image1" alt="OK1" (mouseenter)="image1=imagesHoverSource[1]" (mouseout)="image1=imagesSource[1]">
    </div>
    <div class="img">
      <img [src]="image2" alt="OK2" (mouseenter)="image2=imagesHoverSource[2]" (mouseout)="image2=imagesSource[2]">
    </div>
    <div class="img">
      <img [src]="image3" alt="OK3" (mouseenter)="image3=imagesHoverSource[3]" (mouseout)="image3=imagesSource[3]">
    </div>
  </div>

  <div class="imgdest">
    <div
      cdkDropList
      #img1="cdkDropList"
      [cdkDropListData]="imgDest[0]"
      [cdkDropListConnectedTo]="[imgList,img2,img3,img4]"
      class="destination"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div *ngFor="let image of imgDest[0]" cdkDrag>
        <img [src]="imgCurrSrc.get(image)" alt="{{image}}"
             (mouseenter)="imgCurrSrc.set(image,imgHoverSrc.get(image))"
             (mouseout)="imgCurrSrc.set(image,imgSrcSrc.get(image))"/>
      </div>
    </div>
    <div
      cdkDropList
      #img2="cdkDropList"
      [cdkDropListData]="imgDest[1]"
      [cdkDropListConnectedTo]="[imgList,img1,img3,img4]"
      class="destination"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div *ngFor="let image of imgDest[1]" cdkDrag>
        <img [src]="imgCurrSrc.get(image)" alt="{{image}}"
             (mouseenter)="imgCurrSrc.set(image,imgHoverSrc.get(image))"
             (mouseout)="imgCurrSrc.set(image,imgSrcSrc.get(image))"/>
      </div>
    </div>
    <div
      cdkDropList
      #img3="cdkDropList"
      [cdkDropListData]="imgDest[2]"
      [cdkDropListConnectedTo]="[imgList,img1,img2,img4]"
      class="destination"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div *ngFor="let image of imgDest[2]" cdkDrag>
        <img [src]="imgCurrSrc.get(image)" alt="{{image}}"
             (mouseenter)="imgCurrSrc.set(image,imgHoverSrc.get(image))"
             (mouseout)="imgCurrSrc.set(image,imgSrcSrc.get(image))"/>
      </div>
    </div>
    <div
      cdkDropList
      #img4="cdkDropList"
      [cdkDropListData]="imgDest[3]"
      [cdkDropListConnectedTo]="[imgList,img1,img2,img3]"
      class="destination"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div *ngFor="let image of imgDest[3]" cdkDrag>
        <img [src]="imgCurrSrc.get(image)" alt="{{image}}"
             (mouseenter)="imgCurrSrc.set(image,imgHoverSrc.get(image))"
             (mouseout)="imgCurrSrc.set(image,imgSrcSrc.get(image))"/>
      </div>
    </div>
  </div>

  <div
    cdkDropList
    #imgList="cdkDropList"
    [cdkDropListData]="imgSrc"
    [cdkDropListConnectedTo]="[img1,img2,img3,img4]"
    class="imgsrc"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let image of imgSrc" class="word" class="img" cdkDrag>
      <img [src]="imgCurrSrc.get(image)" alt="{{image}}"
           (mouseenter)="imgCurrSrc.set(image,imgHoverSrc.get(image))"
           (mouseout)="imgCurrSrc.set(image,imgSrcSrc.get(image))"/>
    </div>
  </div>
</div>
<button (click)="controleer()" class="controleer" *ngIf="!allesOK">Controleer</button>
<button (click)="klaar()" class="klaar" *ngIf="allesOK">Klaar</button>
<countdown [config]="{leftTime: countdown}" (event)="handleEvent($event)" #cd></countdown>
<app-progress-bar [progress]="progress"></app-progress-bar>
<div #svg></div>
