<canvas id="myCanvas" resize
        #myCanvas
></canvas>
<img id="puzzel1" src="assets/img/puzz1.png" alt="" style="display:none;" #puzz1>
<img id="puzzel2" src="assets/img/puzz2.png" alt="" style="display:none;" #puzz2>
<img id="puzzel3" src="assets/img/puzz3.png" alt="" style="display:none;" #puzz3>
<img id="puzzel4" src="assets/img/puzz4.png" alt="" style="display:none;" #puzz4>
<img id="puzzel5" src="assets/img/puzz5.png" alt="" style="display:none;" #puzz5>
<img id="puzzel6" src="assets/img/puzz6.png" alt="" style="display:none;" #puzz6>
<img id="puzzel7" src="assets/img/puzz7.png" alt="" style="display:none;" #puzz7>
<div class="instructie">Double click = rotate 90 &deg;</div>
<button (click)="klaar()" class="klaar" *ngIf="allesOK">Klaar</button>
<countdown [config]="{leftTime: countdown}" (event)="handleEvent($event)" #cd></countdown>
<app-progress-bar [progress]="progress"></app-progress-bar>
<div #svg></div>
