nav {
  padding: 10px;

  a {
    font-size: 1rem;
    color: #006666;
    border: solid 1px #006666;
    padding:5px 5px;
    margin: 0 5px;
    border-radius: 4px;
    text-decoration: none;

    &:hover{
      background-color: #006666;
      color: #ff9900;
      box-shadow: 5px 5px gray;
    }

    &.active{
      background-color: #006666;
      color: #ff9900;
    }
  }
}

.username{
  position: fixed;
  left: 5px;
  bottom:30px;
}
