<div>
  <audio controls>
    <source src="assets/img/Twee konijntjes en een egeltje.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
<div>
  <label for="antwoord">Antwoord</label>
  <input type="text" [(ngModel)]="antwoord" name="antwoord" id="antwoord">
</div>
<button (click)="klaar()" class="klaar">Klaar</button>
<countdown [config]="{leftTime: countdown}" (event)="handleEvent($event)" #cd></countdown>
<app-progress-bar [progress]="progress" [disabledP]="true"></app-progress-bar>
