<div>
  <audio controls>
    <source src="assets/img/Twee konijntjes en een egeltje.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
<div>
  <mat-form-field>
    <mat-label>Antwoord</mat-label>
    <input matInput type="text" name="antwoord" id="antwoord" [(ngModel)]="antwoord" autocomplete="off">
  </mat-form-field>
</div>
<button (click)="klaar()" class="klaar">Klaar</button>
<countdown [config]="{leftTime: countdown}" (event)="handleEvent($event)" #cd></countdown>
<app-progress-bar [progress]="progress"></app-progress-bar>
